* {
    margin: 0;
    padding: 0;
  }
  /*nav bar style */
  .navbar {
    width: 100%;
    background-color: #09e18e !important;
  }
  /* css for a elements in nav bar */
  .navbar a {
    color: white !important;
  }
  /* css for p elements in nav bar */
  .navbar p {
    width: 20px;
    height: auto;
  }
 
  .navbar-brand {
    font-size: larger;
  }
 /* css for image */
  img.myface {
    object-fit: cover;
    width: 50px;
    height: auto;
    background-color: aliceblue;
  }
  
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  
  .nav-item {
    margin: 0px 15px;
  }
  /* css for jumbotron */
  .herobg {
    background-image: url("../images/02-hero-bg.jpg");
    background-size: cover;
    height: 30vh;
    position: relative;
    border-radius: 0 !important;
  }
  
  .hero {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    color: red;
  }
  /* css for containers */
  .myinfo .col-10{
    text-align: justify;
    padding-left: 40px;
    }
    
    
    .col-2 {
      border-right: 2px solid gray;
    }
    
    .myinfo .col-10{
      text-align: justify;
    }
    
    .image {
      height: 100px;
      display: flex;
      width: 230px;
      padding-left: 30px;
    }
    
    .col-2 h3 {
      text-align: right;
      font-size: xx-large;
      font-weight: bolder;
    }
    
    .col-7 p {
      text-align: justify;
      width: 970px;
    }
    
    .col p {
      padding-top: 35px;
      font-size: larger;
      font-weight: bolder;
    }
    
    .img1 {
      width: 1195px;
      height: 300px;
      margin-left: 40px;
      margin-bottom: 25px;
    }
    
    .img2 {
      width: 590px;
      height: 200px;
      margin-left: 42px;
      margin-bottom: 25px;
    }
    
    .img3 {
      width: 590px;
      height: 200px;
      margin-left: 12px;
      margin-bottom: 25px;
    }
    
    img[src$=".jpg"] {
      border: 5px solid red;
    }
    
    img[src$=".jpeg"] {
      border: 5px solid red;
    }
    
    .footer li {
      list-style-type: none;
      display: inline-block;
      padding: 0px 30px;
    }
    
    a {
      text-decoration: none;
    }
    
    #contactme {
      margin-top: 10px;
      text-align: end;
    }
    
    
    .mydetails {
      position: relative;
    }
    
    .footer {
      position: absolute;
      transform: translate(65%, 25%);
      padding-top: 10px;
    }
  